<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title></title>

    <script src="_libs/jquery.js"></script>
    <script src="_libs/lodash.min.js"></script>

    <link href="_libs/fomantic-ui/semantic.min.css" rel="stylesheet" />
    <script src="_libs/fomantic-ui/semantic.min.js"></script>

    <script src="_libs/vuejs/vue.min.js"></script>
    <script src="_libs/vuejs/vue-router.min.js"></script>

    <link href="_libs/datatables/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="_libs/datatables/jquery.dataTables.min.js"></script>
    <script src="_libs/datatables/dataTables.fixedColumns.min.js"></script>

    <script src="_libs/init.js"></script>
    <link href="_libs/init.css" rel="stylesheet" />
</head>
<body>
    <div id="ui-app" class="ui middle aligned center aligned grid">
        <div class="column ui-page">
            <div class="ui form">
                <div class="ui error message"></div>
                <div class="ui stacked segment">
                    <div v-for="(field,index) in objForm.arr_fields"
                         v-if="field.str_kit === 'text'" :id="field.str_id" :class="[field.str_id, 'field ___v-form-field-' + field.str_name, field.bit_required ? 'required' : '', field.bit_inline ? 'inline' : '']">
                        <label>{{field.str_caption}}</label>
                        <div :class="['ui input', field.bit_focus ? 'focus' : '', field.bit_loading ? 'icon right purple double loading' : '', field.str_icon_align, field.str_icon && field.str_icon.length > 0 ? 'icon' : '']">
                            <input type="text" :name="field.str_id" :placeholder="field.str_placeholder">
                            <i v-show="field.bit_loading || (field.str_icon && field.str_icon.length > 0)" :class="['icon', field.str_icon]"></i>
                        </div>
                    </div>
                    <div v-else-if="field.str_kit === 'test'" :id="field.str_id" :class="[field.str_id, 'field ___v-form-field-' + field.str_name, field.bit_required ? 'required' : '', field.bit_inline ? 'inline' : '']" v-html="___field_build(field)"></div>
                    <div v-else-if="field.str_kit === 'text-button'" :id="field.str_id" :class="[field.str_id, 'field ___v-form-field-' + field.str_name, field.bit_required ? 'required' : '', field.bit_inline ? 'inline' : '']">
                        <label>{{field.str_caption}}</label>
                        <div :class="['ui action input', field.bit_focus ? 'focus' : '', field.bit_loading ? 'icon right purple double loading' : '', field.str_icon_align, field.str_icon && field.str_icon.length > 0 ? 'icon' : '']">
                            <input type="text" :name="field.str_id" :placeholder="field.str_placeholder">
                            <div v-show="field.str_button_icon || (field.str_button_icon && field.str_button_icon.length > 0)" class="ui icon button">
                                <i :class="[field.str_button_icon,'icon']"></i>
                            </div>
                        </div>
                    </div>
                    <div v-else-if="field.str_kit === 'text-label'" :id="field.str_id" :class="[field.str_id, 'field ___v-form-field-' + field.str_name, field.bit_required ? 'required' : '', field.bit_inline ? 'inline' : '']">
                        <label>{{field.str_caption}}</label>
                        <div :class="['ui input', field.bit_focus ? 'focus' : '', (field.str_label && field.str_label.length > 0) ? 'labeled' : '', field.str_icon_align ? '' : field.str_icon_align, (field.bit_loading || (field.str_icon && field.str_icon.length > 0)) ? 'icon' : '', field.bit_loading ? 'purple double loading' : '']">
                            <div v-show="field.str_label && field.str_label.length > 0" class="ui label">{{field.str_label}}</div>
                            <input type="text" :name="field.str_id" :placeholder="field.str_placeholder">
                            <i v-show="field.str_icon && field.str_icon.length > 0" :class="['icon', field.str_icon]"></i>
                        </div>
                    </div>
                    <div v-else-if="field.str_kit === 'text-dropdown'" :id="field.str_id" :class="[field.str_id, 'field ___v-form-field-' + field.str_name, field.bit_required ? 'required' : '', field.bit_inline ? 'inline' : '']">
                        <label>{{field.str_caption}}</label>
                        <div :class="['ui input', field.bit_focus ? 'focus' : '', ((field.arr_dropdown && field.arr_dropdown.length > 0)||(field.str_label && field.str_label.length > 0)) ? 'right labeled' : '', field.str_icon_align ? '' : field.str_icon_align, (field.bit_loading || (field.str_icon && field.str_icon.length > 0)) ? 'icon' : '', field.bit_loading ? 'purple double loading' : '']">
                            <input type="text" :name="field.str_id" :placeholder="field.str_placeholder">
                            <div v-show="field.arr_dropdown && field.arr_dropdown.length > 0" class="ui dropdown label">
                                <div class="text">{{field.arr_dropdown[0].text}}</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item" v-for="(it2,i2) in field.arr_dropdown">{{it2.text}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-else-if="field.str_kit === 'text-dropdown-button'" :id="field.str_id" :class="[field.str_id, 'field ___v-form-field-' + field.str_name, field.bit_required ? 'required' : '', field.bit_inline ? 'inline' : '']">
                        <label>{{field.str_caption}}</label>
                        <div :class="['ui action input', field.bit_focus ? 'focus' : '', field.str_icon_align ? '' : field.str_icon_align, (field.bit_loading || (field.str_icon && field.str_icon.length > 0)) ? 'icon' : '', field.bit_loading ? 'purple double loading' : '']">
                            <input type="text" :name="field.str_id" :placeholder="field.str_placeholder">
                            <select v-show="field.arr_dropdown && field.arr_dropdown.length > 0" class="ui compact selection dropdown">
                                <option v-for="(it2,i2) in field.arr_dropdown" :value="it2.id">{{it2.text}}</option>
                            </select>
                            <div v-show="field.str_button_icon || (field.str_button_icon && field.str_button_icon.length > 0)" class="ui icon button">
                                <i :class="[field.str_button_icon,'icon']"></i>
                            </div>
                        </div>
                    </div>
                    <div v-else-if="field.str_kit === 'checkbox'" :id="field.str_id" :class="[field.str_id, 'field ___v-form-field-' + field.str_name, field.bit_required ? 'required':'', field.bit_inline ? 'inline' : '']">
                        <div class="ui checkbox">
                            <input type="checkbox" :name="field.str_id" tabindex="0" class="hidden">
                            <label>{{field.str_caption}}</label>
                        </div>
                    </div>
                    <div v-else-if="field.str_kit === 'dropdown'" :id="field.str_id" :class="[field.str_id, 'field ___v-form-field-' + field.str_name, field.bit_required ? 'required':'', field.bit_inline ? 'inline' : '']">
                        <label>{{field.str_caption}}</label>
                        <select class="ui dropdown" name="dropdown">
                            <option value="">{{field.str_placeholder}}</option>
                            <option value="male">Choice 1</option>
                            <option value="female">Choice 2</option>
                        </select>
                    </div>
                    <div v-else class="required inline field">
                        Not A/B/C
                    </div>
                </div>
                <div class="ui primary submit button">Submit</div>
            </div>
        </div>
    </div>

    <script src="_libs/app.js"></script>
</body>
</html>
